@charset "UTF-8";
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 *颜色
 */

$text-1:#333333;
$text-2:#666666;
$text-3:#999999;
$text-4:#F2F2F5;
$text-5:#ffffff;
$text-6:#de7c23;
$text-7:#FFA302;
$text-8:#FAE332;
$text-9:#FFC09F;
$text-10:#225fba;
$text-11:#5A8CE6;
$text-12:#3cc51f;
$text-13:#84C002;
$text-14:#FF2D4B;

$border-color:#E5E5E5;
$bg-color : #fbf9fe;
